<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="minerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <minerGUI.Properties.Settings>
            <setting name="workerLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="workerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="accountToken" serializeAs="String">
                <value />
            </setting>
            <setting name="minerDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="mpPoolAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="diffSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="tokenChecked" serializeAs="String">
                <value>0</value>
            </setting>
        </minerGUI.Properties.Settings>
    </userSettings>
</configuration>
